/* CSS declarations go here */
.corral {
  background-color: lightblue;
}

.unicorn {
  font-size: 0.8em;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.caught {
  justify-content: flex-start;
  align-items: baseline;
}
